.filters-box {
    margin-top: 70px;
    display: flex;
    width: 296.6px;
    height: 1221.6px;
    padding: 20px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.row-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.header-text {
    color: #000;
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

.line {
    width: 247px;
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
}

.select-text {
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Satoshi', sans-serif; /* Đảm bảo font-family 'Satoshi' đã được tải */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none; /* Loại bỏ gạch chân */
    cursor: default; /* Không có hiệu ứng khi trỏ chuột vào */
}


.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    align-self: stretch;
    padding-bottom: 0px;
}

.filter-section {
    width: 247px;
    height: 20px;
    flex-shrink: 0;
    position: relative;
}


.form-range {
    width: 100%;
    margin-top: 20px;
}

.select-colors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: 0px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: 0px;
}

