.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
}

    .divider::before,
    .divider::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #ddd;
        margin: 0 10px;
    }

.form-check-input:checked {
    background-color: #000000;
}
