html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {  
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*CSS CHO NO-LOGIN*/
.no-login {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
}

    .no-login a {
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }

        .no-login a:hover {
            text-decoration: underline;
        }

        .no-login a:visited {
            color: white; 
        }

.close-icon {
    position: absolute;
    right: 20px;
    top: 50%; 
    transform: translateY(-50%); 
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

/*CSS CHO NAVBAR*/
.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.nav-link i {
    text-decoration: none;
    color: #000 !important;
    margin-right: 33px;
    font-size: 20px;
}

    .nav-link i:hover {
        color: #888;
    }


@media (min-width: 992px) {
    .search-icon-only {
        display: none;
    }
}


@media (max-width: 991.98px) {
    .full-search-form {
        display: none!important;
    }

    .nav-link i {
        margin-right: 12px;                   }
}

.full-search-form .input-group {
    border-radius: 25px; 
    overflow: hidden; 
}

.input-group-text {
    border-radius: 25px 0 0 25px;
}




/*CSS CHO FOOTER*/
.bg-light {
    padding: 100px;
}

h2.font-weight-bold {
    font-size: 40px;
    padding-left: 64px;
    font-family: "Integral CF";
    font-weight: 700;
    font-style: normal;
}

h3.font-weight-bold {
    font-size: 34px;
    font-weight: 900;
    justify-content: flex-start;
}

p.mt-3 {
    color: rgba(0, 0, 0, 0.60);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.footer-bottom img {
    margin-right: 10px; 
}

h5.font-weight-bold {
    color: #000;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer ul {
    padding-left: 0; 
}

    .footer ul li a {
        text-decoration: none;
        color: #777; 
    }

        .footer ul li a:hover {
            color: #000; 
        }

.d-flex{
    gap: 10px;
}

.d-flex a {
    width: 30px; 
    height: 28px; 
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
}

.d-flex a.facebook-icon {
    background-color: #000;
    color: #fff !important;
    border-color: #000; 
}

.newsletter {
    border-radius: 10px;
}

    .newsletter h2 {
        font-size: 40px;
        font-weight: 700;
    }

.form-control {
    border-radius: 25px; 
    padding: 10px 20px;
    padding-left: 40px;
}

.btn-light {
    border-radius: 25px; 
    padding: 10px 30px;
    font-weight: bold;
}

.email-input {
    position: relative;
}

.envelope-icon {
    position: absolute;
    pointer-events: none; 
}

.list-unstyled li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.60);
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.list-unstyled li {
    margin-bottom: 10px;
}

@media (max-width: 390px) {
    .navbar {
        padding-left: 16px!important;
        padding-right: 16px!important;
    }

    .bg-light {
        padding: 16px;
    }

    .newsletter .row {
        flex-direction: column;
        text-align: left;
    }

    .newsletter h2 {
        font-size: 24px;
        margin-bottom: 28px;
    }

    h2.font-weight-bold {
        padding-left: 24px;
        padding-right: 37px;
        font-size: 32px;
    }

    .navbar-toggler {
        border: none;
    }

        .navbar-collapse .navbar-nav {
            margin-left: 10px; 
            flex-direction: column; 
        }

        .close-icon {
            display: none;
        }
    
    .newsletter .email-input, .newsletter .btn-light {
        margin-left: 40px;
    }
}