@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class=".container-fluid mast-head">
    <div class="container">
        <div class="row banner-lap align-items-center">
            <div class="col-lg-6 col-12">
                <div class="headline">FIND CLOTHES THAT MATCHES YOUR STYLE</div>
                <div class="masthead-desc">Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</div>
                <a asp-controller="Shop" asp-action="Index" class="btn btn-dark btn-lg shop-btn">Shop Now</a>
                <div class="row statistic">
                    <div class="col-lg-3 col-5">
                        <h3>200+</h3>
                        <p>International Brands</p>
                    </div>
                    <div class="separator col-2"></div>
                    <div class="col-lg-3 col-5">
                        <h3>2,000+</h3>
                        <p>High-Quality Products</p>
                    </div>
                    <div class="separator-2"></div>
                    <div class="col-lg-3 col-12">
                        <h3>30,000+</h3>
                        <p>Happy Customers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-none d-lg-block"></div>
        </div>
    </div>

    <div class="row d-lg-none">
        <div class="col-12">
            <img src="/Images/back-mobile.png" alt="Mobile Banner Image" class="mobile-banner-image">
        </div>
    </div>

</div>

<div class=".container-fluid bg-dark text-white mb-5">
    <div class="container">
        <div class="row brand-nav text-center align-items-center justify-content-between" style="height: 122px;">
            <div class="col-lg-2 col-4 brand-item">
                <h5>
                    <a asp-controller="Brand" asp-action="Details" asp-route-name="Versace"> <img src="\Images\Versace.png" alt="Versace"></a>
                </h5>
            </div>
            <div class="col-lg-2 col-4 brand-item">
                <h5>
                    <a asp-controller="Brand" asp-action="Details" asp-route-name="Zara"> <img src="\Images\Zara.png" alt="Zara"></a>
                </h5>
            </div>
            <div class="col-lg-2 col-4 brand-item">
                <h5>
                    <a asp-controller="Brand" asp-action="Details" asp-route-name="Gucci"> <img src="\Images\Gucci.png" alt="Gucci"></a>
                </h5>
            </div>
            <div class="col-lg-2 col-6 brand-item">
                <h5>
                    <a asp-controller="Brand" asp-action="Details" asp-route-name="Prada"> <img src="\Images\Prada.png" alt="Prada"></a>
                </h5>
            </div>
            <div class="col-lg-2 col-6 brand-item">
                <h5>
                    <a asp-controller="Brand" asp-action="Details" asp-route-name="CalvinKlein"> <img src="\Images\CalvinKlein.png" alt="CalvinKlein"></a>
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="container outstanding-product">
    <div class="new-arrivals">
        <div class="text-center my-5">
            <h1 class="outstanding">NEW ARRIVALS</h1>
        </div>

        <div class="row product-row">
            @foreach (var product in Model.NewArrivals)
            {
                <div class="col-md-3 col-3">
                     <a asp-page="./productdetailpage" asp-route-id="@product.Id">
                    @await Component.InvokeAsync("ProductCard", product)
                    </a>
                </div>
            }
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-2 offset-md-5 mt-3">
                <a asp-controller="Shop" asp-action="Index" class="btn btn-outline-dark btn-lg w-100" style="border-radius: 62px; max-width: 500px;">View All</a>
            </div>
        </div>
    </div>

    <hr class="my-5 w-100" style="border: 1px solid rgba(0, 0, 0, 0.10);">

    <div class="top-selling">
        <div class="text-center my-5">
            <h1 class="outstanding">TOP SELLING</h1>
        </div>

        <div class="row product-row">
            @foreach (var product in Model.TopSelling)
            {
                <div class="col-md-3 col-3">
                    <a asp-page="./productdetailpage" asp-route-id="@product.Id">
                    @await Component.InvokeAsync("ProductCard", product)
                    </a>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-12 col-md-2 offset-md-5 mt-3">
                <a asp-controller="Shop" asp-action="Index" class="btn btn-outline-dark btn-lg w-100" style="border-radius: 62px; max-width: 500px;">View All</a>
            </div>
        </div>
    </div>
</div>

<div class="container dress-style mt-5">
    <div class="card p-5 shadow-sm" style="background-color: #F2F2F2; border-radius: 40px;">
        <h3 class="outstanding my-5">BROWSE BY DRESS STYLE</h3>

        <div class="row mt-4">
            <div class="col-md-4 col-12 mb-3 d-flex">
                <div class="card ds-card w-100" style="border-radius: 20px; overflow: hidden;">
                    <img src="\Images\CasualDS.png" class="card-img" style="object-fit: cover; height: 100%; width: 100%;">
                    <div class="card-img-overlay">
                        <h5 class="card-title fs-1">Casual</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-12 mb-3 d-flex">
                <div class="card ds-card w-100" style=" border-radius: 20px; overflow: hidden;">
                    <img src="\Images\FormalDS.png" class="card-img" style="object-fit: cover; height: 100%; width: 100%;">
                    <div class="card-img-overlay">
                        <h5 class="card-title fs-1">Formal</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-12 mb-3 d-flex">
                <div class="card ds-card w-100" style=" border-radius: 20px; overflow: hidden;">
                    <img src="\Images\PartyDS.png" class="card-img" style="object-fit: cover; height: 100%; width: 100%;">
                    <div class="card-img-overlay">
                        <h5 class="card-title fs-1">Party</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 mb-3 d-flex">
                <div class="card ds-card w-100" style=" border-radius: 20px; overflow: hidden;">
                    <img src="\Images\GymDS.png" class="card-img" style="object-fit: cover; height: 100%; width: 100%;">
                    <div class="card-img-overlay">
                        <h5 class="card-title fs-1">Gym</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=".container mt-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="outstanding-feedback">OUR HAPPY CUSTOMERS</h3>
            <div class="feedback-nav">
                <i class="fa-solid fa-arrow-left nav-button left" style="cursor: pointer;"></i>
                <i class="fa-solid fa-arrow-right nav-button right" style="cursor: pointer;"></i>
            </div>
        </div>
    </div>

    <div class="feedback-container">
        <div class="feedback-row">
            @foreach (var review in Model.OurHappyCustomers)
            {
                bool isDatePostShowed = false;
                @await Component.InvokeAsync("ReviewCard", new { isDatePostShowed = isDatePostShowed, review = review })
            }
        </div>
    </div>
</div>

<script>
    const feedbackRow = document.querySelector('.feedback-row');
    const leftButton = document.querySelector('.nav-button.left');
    const rightButton = document.querySelector('.nav-button.right');

    leftButton.addEventListener('click', () => {
        feedbackRow.scrollBy({ left: -300, behavior: 'smooth' });
    });

    rightButton.addEventListener('click', () => {
        feedbackRow.scrollBy({ left: 300, behavior: 'smooth' });
    });
</script>





