<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FashionStore.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FashionStore.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="no-login">
            <span>Sign up and get 20% off to your first order.</span>
            <a href="#">Sign Up Now</a>
            <span class="close-icon">&times;</span>
        </div>

        <nav class="navbar">
            <div class="navbar-logo">
                <a href="#">SHOP.CO</a>
            </div>

            <ul class="nav-link">
                <li><a href="#">Shop
                        <i class="fas fa-chevron-down dropdown-icon"></i>
                </a></li>
                <li><a href="#">On Sale</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Brands</a></li>
            </ul>

            <div class="search-bar">
                <i class="fas fa-search search-icon"></i>
                <input type="text" placeholder="Search for products...">
            </div>

            <div class="icons">
                <a href="#"><i class="fas fa-shopping-cart cart-icon"></i></a>
                <a href="#"><i class="fas fa-user user-icon"></i></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
             <a asp-area="" asp-page="/Privacy"></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>