@* _MainBanner.cshtml *@
<section class="main-banner text-left py-5 custom-bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="custom-heading">Find Clothes That Matches Your Style</h1>
                <p class="lead mt-3 mb-5">Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
                <a asp-controller="Shop" asp-action="Index" class="btn btn-dark btn-lg rounded-pill">Shop Now</a>

                <div class="row mt-5">
                    <div class="col-md-4">
                        <h3>200+</h3>
                        <p>International Brands</p>
                    </div>
                    <div class="col-md-4">
                        <h3>2,000+</h3>
                        <p>High-Quality Products</p>
                    </div>
                    <div class="col-md-4">
                        <h3>30,000+</h3>
                        <p>Happy Customers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="image-container">
                    <img src="~/Images/HomeBanner.jpg" alt="Fashion Banner" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
