@* _NavBrands.cshtml *@
<section class="brand-bar bg-dark py-3">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <a asp-controller="Brand" asp-action="Details" asp-route-brand="Versace" class="brand-link versace">VERSACE</a>
            </div>
            <div class="col-auto">
                <a asp-controller="Brand" asp-action="Details" asp-route-brand="Zara" class="brand-link zara">ZARA</a>
            </div>
            <div class="col-auto">
                <a asp-controller="Brand" asp-action="Details" asp-route-brand="Gucci" class="brand-link gucci">GUCCI</a>
            </div>
            <div class="col-auto">
                <a asp-controller="Brand" asp-action="Details" asp-route-brand="Prada" class="brand-link prada">PRADA</a>
            </div>
            <div class="col-auto">
                <a asp-controller="Brand" asp-action="Details" asp-route-brand="CalvinKlein" class="brand-link calvin-klein">Calvin Klein</a>
            </div>
        </div>
    </div>
</section>
